# Node.js with Express and Stlyus
/.monitor

# Vim
.*.sw[a-z]
*.un~i
tags

# nodejs npm modules
/node_modules

# ZSH Cake plugin cache
/.cake_task_cache

# Build files
/build/*


# Backupfile
*~

sftpCache.json
